<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/foto.jpg" class="img-fluid" alt="" id="fotop">
    </div>
<div class="col-xs-12 col-sm-2 col-lg-2">
    <p id="nombre">Oscar Alberto Lastre</p>
    <p>Full Stack</p>
</div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut culpa provident omnis debitis at, tempora veritatis sunt adipisci eveniet fugiat doloremque ullam nulla incidunt ad deserunt recusandae magnam quos enim.</p>
            
        </span>
    </div>
</div>